.conteinerDashboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

    table {
        margin: 64px 0px;
        width: 70%;
    }

    tr {
        border: 2px solid rgb(158, 67, 170);

        td,
        th {
            width: 180px;
            background-color: rgba(189, 126, 189, 0.5);
        }

    }

    button {
        padding: 8px 44px;
        background-color: rgba(210, 167, 240, 0.5);
        border-radius: 12px;
        border: 2px solid rgb(181, 147, 204);
    }

    // h3 {
    //     color: rgb(158, 126, 158);
    // }

}